<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head th:fragment="common_header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
    <title>NiKiShare</title>
    <meta name="keywords" content="NiKiShare，新番，剧情片吧，电影票房吧，电影吧，2018最新电影">
    <meta name="description" content="2018最新电影，韩国电视剧、香港TVB电视剧、日本动漫、日剧、美剧、综艺的在线观看，每天第一时间更新，放送好看的迅雷电影，百度网盘下载。">
    <link rel="canonical" href="http://www.banlidy.com/">
    <meta name="mobile-agent" content="format=html5;url=https://m.banlidy.com/">
    <meta name="applicable-device" content="pc,mobile">
    <link th:href=" ${application.CDN} + 'www/css/bootstrap.min.css' " rel="stylesheet" type="text/css">
    <link th:href=" ${application.CDN} + 'www/css/swiper.min.css' " rel="stylesheet" type="text/css">
    <link th:href=" ${application.CDN} + 'www/css/style.css' " rel="stylesheet" type="text/css">
    <link th:href=" ${application.CDN} + 'www/css/white.css' " rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href=" ${application.CDN} + 'www/css/showfloatdiv.css' ">
    <script type="text/javascript" th:src="${application.CDN} + 'www/js/system.js'"></script>
    <script type="text/javascript" th:src="${application.CDN} + 'www/js/jquery-3.3.1.min.js'"></script>
    <script type="text/javascript" th:src="${application.CDN} + 'www/js/main.js'"></script>
    <script type="text/javascript" th:src="${application.CDN} + 'www/js/hm.js'"></script>
    <script type="text/javascript" th:src="${application.CDN} + 'www/js/c.js'"></script>
    <script type="text/javascript" charset="utf-8" th:src="${application.CDN} + 'www/js/ability.js'"></script>
    <script type="text/javascript" th:src="${application.CDN} + 'www/js/openBox.js'"></script>
    <script type="text/javascript" th:src="${application.CDN} + 'www/js/bootstrap.min.js'"></script>
    <script type="text/javascript" th:src="${application.CDN} + 'www/js/xbdb.js'"></script>
</head>

<!--头部开始-->
<nav class="navbar navbar-inverse" role="navigation" th:fragment="common_navigation">
    <div class="container">
        <div class="row">
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li id="nav-index" class="active"><a th:href="@{ ${application.CDN} }">首页</a></li>
                    <li id="nav-dianshiju" class=""><a href="http://www.banlidy.com/list1/">分类</a></li>
                    <li id="nav-dianshiju" class=""><a href="http://www.banlidy.com/list2/">新番</a></li>
                    <li id="nav-dianshiju" class=""><a href="http://www.banlidy.com/list3/">投稿</a></li>
                </ul>
                <div class="nav-search  visible-md visible-lg">
                    <form class="zanpian_search" data-limit="10" name="formsearch" id="formsearch"
                          action="http://www.banlidy.com/search/" method="post" autocomplete="off"><input
                            class="form-control zanpian_wd" placeholder="输入关键词..." name="wd" id="wd" required=""
                            type="text" autocomplete="off">
                        <button type="submit" class="btn btn-search"><i class="icon iconfont"></i></button>
                    </form>
                </div>
                <a th:href="@{ ${application.CDN} + 'login/login_do'}">
                    <div class="user_login hidden-xs" id="user_login" title="点击登录">
                        <i class="icon iconfont"></i>
                    </div>
                </a>
                <div class="user_playlog hidden-xs" id="user_playlog" title="播放记录"><i class="icon iconfont"></i>
                    <div id="playlog_list" class="playlog_list">
                        <div class="playlog-tool"><a class="playlog-clear" rel="nofollow" href="javascript:;"
                                                     id="playlog-clear" target="_self">清空全部播放记录</a><a
                                class="playlog-close" rel="nofollow" href="javascript:;" id="playlog-close"
                                target="_self">关闭</a></div>
                        <ul>
                            <strong>暂无观看历史记录列表</strong>
                        </ul>
                        <div class="playlog-todo text-muted" id="playlog-todo"><a rel="nofollow" id="login"
                                                                                  class="text-color"
                                                                                  href="javascript:;">登录</a>后将能永久保存播放记录<em>|</em><a
                                rel="nofollow" id="register" class="text-color" href="javascript:;">免费注册</a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>

<!--最近更新结束-->
<div class="layout-box clearfix" th:fragment="common_movie">

    <div class="box-title">
        <h3 class="m-0"><i class="icon iconfont text-color"></i>动漫</h3>
        <div class="more pull-right"><a href="http://www.banlidy.com/list1/" class="text-muted" title="更多">更多 <i
                class="icon iconfont"></i></a></div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 p-0">
        <div class="clearfix">
            <div class="col-xs-12">

            </div>
        </div>

        <!--小分类模块开始-->
        <div class="box-index-mcid active clearfix">
            <ul class="clearfix">
                <li th:each=" step : ${session.videoCategories} ">
                    <a class="text-overflow" href="http://www.banlidy.com/list/1_6____.html"
                       target="_blank" th:text=" ${step.videoCategoryName} ">惊悚</a>
                </li>
            </ul>
        </div>
        <!--小分类模块结束-->
        <div class="hidden-sm hidden-xs clearfix">
            <div class="box-title" style=" padding-bottom:5px; padding-top:5px;">
                <h3 class="m-0"><i class="icon iconfont text-color"></i>排行榜</h3>
                <div class="more pull-right"><a href="http://www.banlidy.com/list1/" class="text-muted"
                                                title="更多">更多 <i class="icon iconfont"></i></a></div>
            </div>
            <div class="box-video-text-list p-0">

                <ul class="clearfix" style="margin-bottom:0px; margin-top:0px;">

                    <li class="list p-0 " th:each=" v , step : ${session.bulletin} ">
                        <span class="pull-right text-color" th:text="${v.supportSum}">8.0</span>
                        <a href="http://www.banlidy.com/vod/11855.html" th:title="${v.videoName}">
                            <em class="num active" th:text=" ${step.index+1} ">1
                            </em>
                            <span th:text="${v.videoName}">海王</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <ul class="col-md-8 col-sm-12 col-xs-12 p-0 clearfix">
        <li class="col-md-3 col-sm-3 col-xs-4 " th:each=" v : ${session.video} ">
            <a class="video-pic loading"
               href="http://www.banlidy.com/vod/11900.html" th:title="${v.videoName}"
               th:attr=" style= 'background-image:url(' + ${v.videoUrl} + ')' ">
                <span class="player"></span>
                <span class="score" th:text="${v.supportSum}">9.3</span>
                <span class="note text-bg-r">超清</span>
            </a>
            <div class="title"><h5 class="text-overflow"><a href="http://www.banlidy.com/vod/11900.html"
                                                            th:title="${v.videoName}" th:text="${v.videoName}">愤怒的黄牛</a>
            </h5></div>
            <div class="subtitle text-muted text-overflow hidden-xs" th:text="${v.videoInfo}"></div>
        </li>

    </ul>
    <div class="box-video-footer visible-xs clearfix"><a href="http://www.banlidy.com/list1/" class="text-more"
                                                         title="查看更多">查看更多 <i
            class="icon iconfont icon-right pull-right"></i></a></div>
</div>

<!--最近更新结束-->
<div class="layout-box clearfix" th:fragment="common_files">

    <div class="box-title">
        <h3 class="m-0"><i class="icon iconfont text-color"></i>影视</h3>
        <div class="more pull-right"><a href="http://www.banlidy.com/list1/" class="text-muted" title="更多">更多 <i
                class="icon iconfont"></i></a></div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 p-0">
        <div class="clearfix">
            <div class="col-xs-12">

            </div>
        </div>

        <!--小分类模块开始-->
        <div class="box-index-mcid active clearfix">
            <ul class="clearfix">
                <li th:each=" step : ${session.movieCategories} ">
                    <a class="text-overflow" href="http://www.banlidy.com/list/1_6____.html"
                       target="_blank" th:text=" ${step.videoCategoryName} ">惊悚</a>
                </li>
            </ul>
        </div>
        <!--小分类模块结束-->
        <div class="hidden-sm hidden-xs clearfix">
            <div class="box-title" style=" padding-bottom:5px; padding-top:5px;">
                <h3 class="m-0"><i class="icon iconfont text-color"></i>排行榜</h3>
                <div class="more pull-right"><a href="http://www.banlidy.com/list1/" class="text-muted"
                                                title="更多">更多 <i class="icon iconfont"></i></a></div>
            </div>
            <div class="box-video-text-list p-0">

                <ul class="clearfix" style="margin-bottom:0px; margin-top:0px;">

                    <li class="list p-0 " th:each=" v , step : ${session.bulletin} ">
                        <span class="pull-right text-color" th:text="${v.supportSum}">8.0</span>
                        <a href="http://www.banlidy.com/vod/11855.html" th:title="${v.videoName}">
                            <em class="num active" th:text=" ${step.index+1} ">1
                            </em>
                            <span th:text="${v.videoName}">海王</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <ul class="col-md-8 col-sm-12 col-xs-12 p-0 clearfix">
        <li class="col-md-3 col-sm-3 col-xs-4 " th:each=" v : ${session.video} ">
            <a class="video-pic loading"
               href="http://www.banlidy.com/vod/11900.html" th:title="${v.videoName}"
               th:attr=" style= 'background-image:url(' + ${v.videoUrl} + ')' ">
                <span class="player"></span>
                <span class="score" th:text="${v.supportSum}">9.3</span>
                <span class="note text-bg-r">超清</span>
            </a>
            <div class="title"><h5 class="text-overflow"><a href="http://www.banlidy.com/vod/11900.html"
                                                            th:title="${v.videoName}" th:text="${v.videoName}">愤怒的黄牛</a>
            </h5></div>
            <div class="subtitle text-muted text-overflow hidden-xs" th:text="${v.videoInfo}"></div>
        </li>

    </ul>
    <div class="box-video-footer visible-xs clearfix"><a href="http://www.banlidy.com/list1/" class="text-more"
                                                         title="查看更多">查看更多 <i
            class="icon iconfont icon-right pull-right"></i></a></div>
</div>

<!--最近更新结束-->
<div class="layout-box clearfix" th:fragment="common_image">

    <div class="box-title">
        <h3 class="m-0"><i class="icon iconfont text-color"></i>投稿</h3>
        <div class="more pull-right"><a href="http://www.banlidy.com/list1/" class="text-muted" title="更多">更多 <i
                class="icon iconfont"></i></a></div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 p-0">
        <div class="clearfix">
            <div class="col-xs-12">

            </div>
        </div>

        <!--小分类模块开始-->
        <div class="box-index-mcid active clearfix">
            <ul class="clearfix">
                <li th:each=" step : ${session.postCategories} ">
                    <a class="text-overflow" href="http://www.banlidy.com/list/1_6____.html"
                       target="_blank" th:text=" ${step.videoCategoryName} ">惊悚</a>
                </li>
            </ul>
        </div>
        <!--小分类模块结束-->
        <div class="hidden-sm hidden-xs clearfix">
            <div class="box-title" style=" padding-bottom:5px; padding-top:5px;">
                <h3 class="m-0"><i class="icon iconfont text-color"></i>排行榜</h3>
                <div class="more pull-right"><a href="http://www.banlidy.com/list1/" class="text-muted"
                                                title="更多">更多 <i class="icon iconfont"></i></a></div>
            </div>
            <div class="box-video-text-list p-0">

                <ul class="clearfix" style="margin-bottom:0px; margin-top:0px;">

                    <li class="list p-0 " th:each=" v , step : ${session.bulletin} ">
                        <span class="pull-right text-color" th:text="${v.supportSum}">8.0</span>
                        <a href="http://www.banlidy.com/vod/11855.html" th:title="${v.videoName}">
                            <em class="num active" th:text=" ${step.index+1} ">1
                            </em>
                            <span th:text="${v.videoName}">海王</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <ul class="col-md-8 col-sm-12 col-xs-12 p-0 clearfix">
        <li class="col-md-3 col-sm-3 col-xs-4 " th:each=" v : ${session.video} ">
            <a class="video-pic loading"
               href="http://www.banlidy.com/vod/11900.html" th:title="${v.videoName}"
               th:attr=" style= 'background-image:url(' + ${v.videoUrl} + ')' ">
                <span class="player"></span>
                <span class="score" th:text="${v.supportSum}">9.3</span>
                <span class="note text-bg-r">超清</span>
            </a>
            <div class="title"><h5 class="text-overflow"><a href="http://www.banlidy.com/vod/11900.html"
                                                            th:title="${v.videoName}" th:text="${v.videoName}">愤怒的黄牛</a>
            </h5></div>
            <div class="subtitle text-muted text-overflow hidden-xs" th:text="${v.videoInfo}"></div>
        </li>

    </ul>
    <div class="box-video-footer visible-xs clearfix"><a href="http://www.banlidy.com/list1/" class="text-more"
                                                         title="查看更多">查看更多 <i
            class="icon iconfont icon-right pull-right"></i></a></div>
</div>

<div class="layout-box clearfix" th:fragment="common_monster">
    <div class="box-title">
        <h3 class="m-0"><i class="icon iconfont text-color"></i>专题</h3>
        <div class="more pull-right"><a href="http://www.banlidy.com/list45/" class="text-muted" title="更多">更多
            <i class="icon iconfont"></i></a></div>
    </div>
    <div class="box-topic-list clearfix">
        <ul class="item">

            <li class="col-md-4 col-sm-4 col-xs-12 news-box"><a class="video-pic loading"
                                                                href="http://www.banlidy.com/special/1.html"
                                                                title="中元节美国鬼片套餐"
                                                                data-original="//wx3.sinaimg.cn/large/006r0ILSgy1fwonyur754j30fa0a674i.jpg"
                                                                style="padding-top: 50%; background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1545669668&di=1b6c59e1bfb26e369ebaed47898998fe&imgtype=jpg&er=1&src=http%3A%2F%2Fvd1.bdstatic.com%2Fmda-hgqcmpq1yewn9k7n%2Fmda-hgqcmpq1yewn9k7n.jpg);">
                <div class="details text-bg-c"><span class="text"> <i
                        class="icon iconfont icon-house"></i> 专题</span><span class="name">中元节美国鬼片套餐</span><span
                        class="count">—— 6个影片 ——</span></div>
            </a></li>

            <li class="col-md-4 col-sm-4 col-xs-12 news-box"><a class="video-pic loading"
                                                                href="http://www.banlidy.com/special/2.html"
                                                                title="中元节港产鬼片套餐"
                                                                data-original="//wx1.sinaimg.cn/mw690/006r0ILSgy1fuiipxjg2yj30g408h746.jpg"
                                                                style="padding-top: 50%; background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1545669668&di=1b6c59e1bfb26e369ebaed47898998fe&imgtype=jpg&er=1&src=http%3A%2F%2Fvd1.bdstatic.com%2Fmda-hgqcmpq1yewn9k7n%2Fmda-hgqcmpq1yewn9k7n.jpg);">
                <div class="details text-bg-c"><span class="text"> <i
                        class="icon iconfont icon-house"></i> 专题</span><span class="name">中元节港产鬼片套餐</span><span
                        class="count">—— 6个影片 ——</span></div>
            </a></li>

            <li class="col-md-4 col-sm-4 col-xs-12 news-box"><a class="video-pic loading"
                                                                href="http://www.banlidy.com/special/3.html"
                                                                title="中元节泰国鬼片套餐"
                                                                data-original="http://wx3.sinaimg.cn/mw690/006r0ILSgy1fuijh0mviyj30k008gjub.jpg"
                                                                style="padding-top: 50%; background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1545669668&di=1b6c59e1bfb26e369ebaed47898998fe&imgtype=jpg&er=1&src=http%3A%2F%2Fvd1.bdstatic.com%2Fmda-hgqcmpq1yewn9k7n%2Fmda-hgqcmpq1yewn9k7n.jpg);">
                <div class="details text-bg-c"><span class="text"> <i
                        class="icon iconfont icon-house"></i> 专题</span><span class="name">中元节泰国鬼片套餐</span><span
                        class="count">—— 6个影片 ——</span></div>
            </a></li>

        </ul>
        <div class="box-video-footer visible-xs clearfix"><a href="http://www.banlidy.com/list45/"
                                                             class="text-more" title="查看更多">查看更多 <i
                class="icon iconfont icon-right pull-right"></i></a></div>
    </div>
</div>

<div class="row" th:fragment="common_footer">
    ﻿
    <div class="box-footer clearfix">
        <div class="container">
            <p class="m-0 text-muted"></p>
            <p>本网站提供新影视资源均系收集各大网站，本网站只提供web页面浏览服务，并不提供影片资源存储，也不参与任何视频录制、上传<br>
                若本站收集的节目无意侵犯了贵司版权，请给<a href="mailto:banlidyw@foxmail.com">banlidyw@foxmail.com</a>邮箱地址来信，我们将在第一时间删除相应资源
            </p>
            <p>Copyright © 2016-2018&nbsp;<b style=" font:Verdana, Arial, Helvetica, sans-serif"><a
                    href="http://www.banlidy.com/"><font color="#CC0000">www.</font><font
                    color="#F60">banlidy</font><font color="#CC0000">.Com</font></a></b>&nbsp;.All Rights Reserved .</p>
            <br>
            <p></p>
            <p class="visible-xs"><a class="text-muted" href="http://www.banlidy.com/gb/" title="留言求片">留言求片</a></p>
        </div>
    </div>
</div>

</html>