<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.school.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.school.pojo.User">
        <id column="userId" property="userId" jdbcType="INTEGER"/>
        <result column="memberId" property="memberId" jdbcType="INTEGER"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="nickName" property="nickName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="headportrait" property="headportrait" jdbcType="VARCHAR"/>
        <result column="userPassWord" property="userPassWord" jdbcType="VARCHAR"/>
        <result column="userIsLockout" property="userIsLockout"
                jdbcType="BIT"/>
        <result column="userUpdateTime" property="userUpdateTime"
                jdbcType="TIMESTAMP"/>
        <result column="userCreateTime" property="userCreateTime"
                jdbcType="TIMESTAMP"/>
        <result column="userLastLoginTime" property="userLastLoginTime"
                jdbcType="TIMESTAMP"/>
        <result column="userLastLoginIp" property="userLastLoginIp"
                jdbcType="VARCHAR"/>
        <result column="userPassWrongCout" property="userPassWrongCout"
                jdbcType="TINYINT"/>
        <result column="userLockoutTime" property="userLockoutTime"
                jdbcType="TIMESTAMP"/>
        <result column="userEmail" property="userEmail" jdbcType="VARCHAR"/>
        <result column="userTelephone" property="userTelephone"
                jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="marry" property="marry" jdbcType="VARCHAR"/>
        <result column="gold" property="gold" jdbcType="INTEGER"/>
    </resultMap>

    <select id="findUserByName" resultMap="BaseResultMap">

	select * from users where userName =#{name}

</select>

    <select id="queryRoleByUserId" resultType="com.example.school.pojo.Role">
	SELECT roleid,rolename,mark FROM role WHERE roleid IN(
SELECT roleid FROM user_role WHERE userid=#{userId}
)
</select>

    <select id="queryPermissionByUserId" resultType="java.lang.String">

	SELECT p.permissionname FROM permission p WHERE p.permissionId IN (SELECT
	rp.permissionId FROM rolepermission rp

	WHERE rp.roleId IN (SELECT ur.roleId FROM user_role ur WHERE
	ur.user_roleId = #{userId}))

</select>

    <insert id="registerUserByNameAndPass">

	INSERT INTO users (memberId, userPassword, userName, sex,
	headportrait,userLastLoginTime) VALUES
	(0,#{password},#{username},"0","0",now())

</insert>
    <!-- 通过用户id查询所有信息 -->

    <select id="selectById" resultMap="BaseResultMap">

select nickName,sex,marry,birthday,userTelephone,address 
from users where userId = #{0}

</select>
    <!-- 通过用户id查询密码 -->

    <select id="selUserById" resultMap="BaseResultMap">

 select userPassWord from users where userId=#{0}

</select>
    <!-- 用户修改密码 -->
    <update id="changePassWord">
  update users
     set userPassWord = #{newPassWord}
     where userId = #{userId}
</update>
    <!-- 通过用户id修改信息 -->
    <update id="updateById">
    update users
      set userName = #{userName},
      sex = #{sex},
      marry = #{marry},
      birthday = #{birthday},
      userTelephone = #{userTelephone},
      address = #{address} where userId = #{userId}
  </update>

</mapper>